.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 5903px;
  position: relative;
}

.desktop .frame {
  position: absolute;
  width: 1440px;
  height: 817px;
  top: -36px;
  left: 0;
}

.desktop .image {
  position: absolute;
  width: 1440px;
  height: 781px;
  top: 36px;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-group {
  position: absolute;
  width: 1320px;
  height: 379px;
  top: 814px;
  left: 60px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 1320px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: #114500;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 73px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 306px;
  left: 22px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 73px;
  white-space: nowrap;
}

.desktop .overlap {
  position: absolute;
  width: 3856px;
  height: 875px;
  top: 1215px;
  left: 82px;
}

.desktop .p {
  position: absolute;
  width: 1178px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 302px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: 73px;
  white-space: nowrap;
}

.desktop .element-enhanced-decision {
  position: absolute;
  width: 994px;
  top: 405px;
  left: 28px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .span {
  font-weight: 600;
}

.desktop .text-wrapper-4 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .element-cost-reduction {
  position: absolute;
  width: 3834px;
  top: 771px;
  left: 22px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .element-risk-management {
  position: absolute;
  width: 1228px;
  top: 2172px;
  left: 110px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .element-sustainability {
  position: absolute;
  width: 1446px;
  top: 2377px;
  left: 104px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 4540px;
  left: 68px;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 73px;
  white-space: nowrap;
}

.desktop .from-the-above {
  position: absolute;
  top: 4655px;
  left: 93px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1280px;
  height: 1888px;
  top: 2572px;
  left: 68px;
}

.desktop .weather-prediction {
  position: absolute;
  width: 1255px;
  top: 0;
  left: 25px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}

.desktop .text-wrapper-6 {
  font-weight: 700;
}

.desktop .yield-predicition {
  position: absolute;
  width: 1244px;
  top: 1095px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 45.6px;
}
